.place{
    font-family: serif;
    background-color: aqua;
    text-align: right;
    border: solid;
    border-color: blue;
}
h1{
     font-size: 50px;
     text-align: center;
}
body{
    background-color: beige;
}
.risou{
    text-align: center;
    padding: 80px;
}
.news{
    border:solid;
    border-color: black;
    text-align: center;
    width: 600px;
    height:100px;
    margin: 0 auto;
    overflow: scroll;
}



